<div mat-dialog-content>
  <form [formGroup]="journalForm">
    <p>
      <mat-form-field>
        <mat-label for="name"> Name: </mat-label>
        <input matInput id="name" type="text" formControlName="name" />
        <mat-hint>Name</mat-hint>
        <mat-error *ngIf="journalForm.value.name"> Name error </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-hint>DD.MM.YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="journalForm.value.date">Date error</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>

        <input matInput id="amount" type="number" formControlName="amount" />
        <mat-hint>0.00</mat-hint>
        <mat-error *ngIf="journalForm.value.amount">Amount error</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Source:</mat-label>
        <mat-select
          [(ngModel)]="sourceAccountId"
          [ngModelOptions]="{ standalone: true }"
        >
          <mat-option
            *ngFor="let accountListItem of accountList"
            [value]="accountListItem.id"
          >
            {{ accountListItem.number }} - {{ accountListItem.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Target:</mat-label>
        <mat-select
          [(ngModel)]="targetAccountId"
          [ngModelOptions]="{ standalone: true }"
        >
          <mat-option
            *ngFor="let accountListItem of accountList"
            [value]="accountListItem.id"
          >
            {{ accountListItem.number }} - {{ accountListItem.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
  </form>
</div>
<div mat-dialog-actions>
  <button
    mat-raised-button
    color="warn"
    (click)="submitDeleteForm()"
    *ngIf="!isAdd"
  >
    Delete Booking
  </button>
  <button
    mat-raised-button
    (click)="submitAddForm()"
    *ngIf="isAdd"
    color="accent"
  >
    Add Booking
  </button>
  <button
    mat-raised-button
    (click)="submitUpdateForm()"
    *ngIf="!isAdd"
    color="accent"
  >
    Update Booking
  </button>
  <button mat-raised-button (click)="closeForm()">Close</button>
</div>
